<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="manifest" href="{{htmlWebpackPlugin.options.manifest}}">
  <link rel="canonical" href="{{htmlWebpackPlugin.options.httpsurl}}" />
  <link rel="apple-touch-icon" href="{{htmlWebpackPlugin.options.appleicon}}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#791b7d" />
  <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpBXHel1_9VsBUNJ-TrBwXrQ8uYtLYdEo&libraries=places"></script>
  <meta name="trafficjunky-site-verification" content="us975w1t0" />
</head>

<body>
  <noscript> You need to enable JavaScript to run this app. </noscript>
  <div id="root"></div>
  <div class="loadingContainer">
    <div class="xxxloader xxxloader-21">
      <div class="css-times times1"></div>
      <div class="css-times times2"></div>
      <div class="css-times times3"></div>
    </div>
  </div>
</body>

</html>
